.new-apartment {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  form {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;

    .form-header {
      font-size: 25px;
      padding: 10px 30px;
      border-bottom: 1px solid #dadada;
    }

    .fields {
      @media screen and (min-width: 700px) {
        display: flex;

        .left,
        .right {
          width: 50%;
          padding: 10px;
        }
      }

      .left,
      .right {
        padding: 0 20px;

        .field {
          margin: 20px;

          input {
            width: 100%;
            padding: 8px;
            font-size: 20px;
          }

          textarea {
            width: 100%;
            padding: 8px;
            font-size: 15px;
            min-height: 215px;
            resize: none;
          }

          .error {
            font-size: 14px;
            color: #da5050;
          }
        }
      }
    }

    .buttons {
      padding: 10px 40px 20px;

      button {
        font-size: 22px;
        padding: 10px 25px;
        cursor: pointer;
        border: none;
        color: #fff;

        &:not(:first-child) {
          margin-left: 20px;
        }

        &.publish {
          background-color: #0a66c2;

          &:hover {
            background-color: #308ae4;
          }

          &:disabled {
            background-color: #515151;
            cursor: not-allowed;
          }
        }

        &.cancel {
          background-color: #919191;

          &:hover {
            background-color: #a7a7a7;
          }
        }
      }
    }
  }
}
