.app {
  max-width: 900px;
  min-height: 100vh;
  background-color: #fff;
  margin: auto;
  padding: 10px 10px;

  @media screen and (min-width: 800px) {
    padding: 40px 50px;
  }

  .header {
    font-size: 40px;
  }

  .loader {
    font-size: 24px;
    margin: 10px 0;
  }

  .loading-error {
    background-color: #ffdede;
    color: #803030;
    font-size: 24px;
    margin: 10px 0;
    padding: 10px 15px;
  }

  .action-panel {
    margin: 10px 0;

    @media screen and (min-width: 700px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .add-apartment-button {
      font-size: 18px;
      border: 1px solid #333;
      border: none;
      background-color: #0a66c2;
      color: #fff;
      cursor: pointer;
      padding: 7px 15px;

      &:hover {
        background-color: #308ae4;
      }

      .plus-sign {
        font-weight: bolder;
      }
    }

    .price-sorting,
    .rooms-filter {
      font-size: 18px;
      margin: 10px;

      #sorting,
      #filter {
        padding: 10px;
        font-size: 15px;
        text-align: center;
      }
    }
  }
}
