.apartment-item {
  background-color: #f6f6f6;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;

  .apartment-info {
    .list-header {
      .price {
        font-size: 25px;
        color: black;
      }

      .rooms {
        margin-left: 5px;
      }

      .name {
        display: block;
        font-size: 25px;
        margin-top: 5px;

        @media screen and (min-width: 700px) {
          display: inline;
          margin-left: 15px;
          margin-top: 0;
        }
      }
    }

    .description {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  button {
    width: 70px;
    height: 30px;
    margin: 12px 0;
    cursor: pointer;
  }
}
